dataset/data/test_videos
dataset/data/faulty_frames
vision/vision_dataset/cnn_features
vision/vision_dataset/extracted_frames
vision/vision_dataset/extracted_frames.zip
vision/vision_dataset/vgg_features
vision/vision_dataset/DATASET_WP8_resized

vision/models
vision/model_checkpoints

*.mp4
.DS_Store
.idea
*/wandb
*/__pycache__
__pycache__
wandb
